---
layout: default
---

<style type="text/css">
h1,h2,h3,h4,h4,h6 {
    font-size: 30px;
    padding: 30px 0;
    color: #f66;
}
ul{
    margin:0;
    padding: 0; 
}

@media screen and (max-width: 420px) {
h1,h2,h3,h4,h4,h6 {
    font-size: 30px;
    padding: 15px 0;
    color: #f66;
}

}



</style> 

<div class="well">
{%for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h1>{{ post.date | date: '%Y' }}</h1>
            <ul>
        {% endif %}
    {% endunless %}
    <li><span>{{ post.date | date: "%Y %b %d" }}</span><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
