<header class="header">
	<div class="header-container">
	   <div class="MainIndex"><a href="https://haonancx.github.io/">FSX</a></div>
	   	  <a href="javascript:;" class="navbar-toggle">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">archive</a>
				</li>			
			{% endif %}



			{% if page.path == "tags.html" %}
			<span class="title">
				<li>
					<a href="/tags.html">tags</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/tags.html">tags</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">about</a>
				</li>			
			{% endif %}
				<li>
					<a href="https://github.com/{{ site.github_username }}" title="Github">GITHUB</a>
				</li>	

		</div>	
	</div>
	<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >

    <div style="position: fixed; top: 16px; right: 16px;">
        
        <span id="cb-close-btn" style="display: inline-block;height: 40px;width: 40px;border-radius: 100%; text-align: center;color: #fff;line-height: 20px;">X</span>
    </div>
</div>
</header>
